.gridContainer{
    width: 300px;
    background: #ccc;
}

.gridItem{
    background: #999;
    font-size: 2em;
    font-family: sans-serif;
    padding: 5px 15px;
}
.gridItem:nth-child(even){
    background: #999;
    color: white;
}
.gridItem:nth-child(odd){
    background: #eee;
}

/* GRID */

.gridContainer{
    width: 100%;
    display: grid;
    /*grid-template-columns: 100px 100px 100px; */
    grid-template-columns: 100px 1fr 2fr;
    grid-template-rows: 100px 100px;
    /*row-gap: 30px;
    column-gap: 10px;*/
    gap: 30px 10px;
}