body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #95ecfc;
}

h1 {
    color: #91513e;
    background-color: rgb(214, 150, 52);
}

h2 {
    color: #ff0000;
    background-color: #8f8f8f;
    border-bottom-style: solid;
    border-bottom-color: #ff0000;
}