.gridContainer{
    width: 90%;
    background-color: #ccc;
    margin: 30px auto;
    display: grid;
    gap: 10px;

    grid-template-columns: repeat(auto-fit, 100px);
    grid-template-rows: 100px 100px;
}

.gridItem{
    background-color: orange;
    padding: 15px;
    font-family: sans-serif;
}